*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ Files and Direcotries
.idea/workspace.xml

system/
config/
test-system/
test-config/

# Output Directories
out/
bin/
dist/
build/

# Others
~$*
*~
*.log
*.out
*.swp
*.DS_Store
*.lock

